{% extends 'base.html' %}
{% load static %}

{% block title %} News List {% endblock %}

{% block header %}
	<nav class="navbar justify-content-center unknown">
		<h5>DO NOT TOUCH THIS AREA!</h5>
	</nav>
{% endblock%}

{% block content %}
	<div id="main" class="container">
		<div class="row content justify-content-between">
			<div class="col-7">
				<div class="white-theme">
					<form id="login-form" class="container" novalidate>
						<div class="row justify-content-between">
							<div class="col-md-8">
								<div class="form-group row align-items-center">
									<label for="inputUsernameorEmail" class="col-md-3 col-form-label login-form-label">login</label>
									<div class="col-md-9 no-padding">
										<input type="text" class="form-control" id="inputUsernameorEmail" placeholder="">
									</div>
								</div>
							</div>

							<div class="col-md-4">
								<label class="form-check-label float-right">
									<input class="form-check-input" type="checkbox" value="">
									remember me
								</label>
							</div>
						</div>

						<div class="row justify-content-between align-items-end">
							<div class="col-md-8">
								<div class="form-group row align-items-center">
									<label for="inputPassword" class="col-md-3 col-form-label login-form-label"><div class="test">password</div></label>
									<div class="col-md-9 no-padding">
										<input type="password" class="form-control" id="inputPassword" placeholder="">
									</div>
								</div>
							</div>
							<div class="col-md-4 form-group">
								<button class="btn btn-block" id="login-btn" type="submit"><b>Sign in</b></button>
							</div>
							
						</div>
					</form>
				</div>
			</div>

			<div class="col-5">
				<div class="justify-content-end ad-content">
					<p>ad (picture)</p>
				</div>
			</div>
		</div>

		<div class="row content justify-content-between">
			<div class="col-md-12">
				<div class="white-theme">
					{% for object in object_list %}
					<div class="box-news">

						<p class="h5"><img class="img img-responsive" height="80" width="150" src="{% static 'img/news_image.png' %}">

						<a href="{% url 'news:detail' object.slug %}">{{object.title}}</a></p>
						
					</div>

					{% empty %}
						<h5>NO THERE NEWS</h5>
					{% endfor %}

					
					
				</div>

			</div>
		</div>
	</div>	
{% endblock %}

{% block footer %}
	<!--<footer class="container-fluid">
		<div class="white-theme">
			<div class="row justify-content-between">
				<div class="col-md-12">
					<nav class="navbar white-theme sticky-bottom justify-content-between footer">
						<span class="navbar-text">film collaboration</span>
					</nav>
				</div>
			</div>
		</div>
	</footer>-->

	<footer class="footer">
		<div class="container">
			<nav class="navbar navbar-expand-sm justify-content-between">
				<span class="navbar-text">film collaboration</span>
				<ul class="nav navbar-nav">
					<li class="nav-item">
						<a class="text-muted nav-link" href="#">about</a>
					</li>
					<li class="nav-item">
						<a class="text-muted nav-link" href="#">terms, conditions.</a>
					</li>
					<li class="nav-item">
						<span class="text-muted navbar-text">copyright 2015-2017.</span>
					</li>
				</ul>
			</nav>

		</div>
	</footer>

	<!-- 
		<nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand" href="#">Logo</a>

		<div class="collapse navbar-collapse" id="nav-content">   
		<ul class="navbar-nav">
		<li class="nav-item">
		<a class="nav-link" href="#">Link 1</a>
		</li>
		<li class="nav-item">
		<a class="nav-link" href="#">Link 2</a>
		</li>
		<li class="nav-item">
		<a class="nav-link" href="#">Link 3</a>
		</li>
		</ul>
		</nav>
	-->



{% endblock %}